ul.tool {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#cccccc;
    color:white;
}

li.tool {
    display: inline;
}

#calendar_container {
    width:800px;
    float:left;
    padding:5px; 
    position:relative;
}

#right_rail {
    width:400px;
    float:right;
    padding:5px; 
}

#bottom_timeline {
    height:200px;
    bottom:0;
    right:0;
    position:fixed;
    padding:5px; 
    background-color: white;
    width:100%;
}
